$deepGreen: #006270;
$lightGreen: #0DE0C7;

$deepBlue: #6e7276;
$lightBlue: #83BBFF;
$lightPurple: #C6CDFF;

$deepRed: #C56C86;

$deepOrange: #FF6D00;
$orange: #FF9201;
$lightOrange: #FFAB40;

$deepGray: #d9d8d8;


$red: #ee0a24;
$blue: #1989fa;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;


body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

pre{
  background: #0b1c2c;
}
